@{
    ViewBag.Title = "About";
}
   
    <div>
        <!--<h1 class="aboutfont">About Chung's Catering</h1>-->
        <br />
        <img src="~/Content/Images/aboutusbanner.png" class="aboutimgs img-responsive" alt="aboutusbanner">
      
        <hr />
        <p class="aboutfont">
            Chung's Catering is a family oriented business started in the 1980's with 4 employees. Business built by Dennis Chung together with his son Jerome, daughter Antoinette. The staff has grown over the years, many of whom have remained with Chung's.
            <br />
            <br /> Chung's believe in affordable prices, excellent customer relations and a quality product. As a customer once said "You don't have to rob a bank when you come to Chung's to plan your event." Chung's offers a wide variety of menus to
            suit all occasions. We tailor every aspect to suit your needs and preference. Chung's enjoys taking away the stress from our customers. What is really important is that we make our customers feel really safe and secure. Our customers don't
            ever have to worry about anything, once they are in our hands. So as you put your plans in motion give Chung's Catering Services a call and put all your worries at rest. We will cater for your event at your venue or ours. Always on time
            and with personalized service. We've been serving the industry since 1982. We have grown over the years to supply the needs of Jamaica's special events. Currently we operate from fourteen locations. Let us cater your next event, you will
            experience delicious food in a timely manner with personalized service. Your needs are different, let us cater to it.
        </p>
        <p>-</p>

    </div>
