@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->
<div class="col-md-3">
    <address>
        <strong>
            Head Office<br />
        </strong>
        138c Maxfield Avenue <br />
        Kingston 10 Jamaica<br />
        <abbr title="Phone">P:</abbr>(876)926-0992 <br />
        <abbr title="Phone">P:</abbr>(876)926-8256 <br />
        <strong>Order Help:</strong> <a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungscatering@hotmail.com</a><br />
    </address>
</div>
<div class="col-sm-3">
    <address>
        <strong>For Quick Dining or Take Away (Breakfast & Lunch)</strong><br /> 82-82 Harbour Street, Downtown Kingston
        <br /><abbr title="Phone">P:</abbr>(876) 948-9138<br /><abbr title="Phone">P:</abbr>(876) 999-0174<br /><br />
    </address>
    </div>
<div class="col-sm-3">
    <address>
        <strong>For Takeout ONLY (Lunch)</strong><br />138c Maxfield Avenue, Kingston 10 <br /><abbr title="Phone">P:</abbr>(876)926-0992 <br />

    </address>
</div>
<div class="col-sm-3">
    <address>
        <br /><strong>NEW LOCATION!</strong> Dine in or take out 23 Tangerine Place<br /><abbr title="Phone">P:</abbr>(876)906-7979 <br /><abbr title="Phone">P:</abbr>(876)832-5365 <br />
    </address>
</div>
<br/>



    <strong><h2 class="tcenter"> Additional Department Contacts</h2> </strong><br />
    <address>
        Catering Department Head of Catering Sales<br />Antoinette Chung //<a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungs.catering@gmail.com</a>
        <br />
        Catering Sales Rep <br /> Kimberley Scott // <a href="mailto:chungscatering@hotmail.com?Subject=Order%20help"> chungscateringkimberley@gmail.com</a><br />
        Catering Sales Rep <br />Sheena Hyman //<a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungscateringsheena@gmail.com</a><br />
        Catering Sales Rep<br />Michael Dixon //<a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungscateringmichael@gmail.com</a><br />
    </address>



