@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->


<div class="container jumbotron">
    <div>

        <div class="col-md-4 mapch glyphicon-align-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30358.77743159728!2d-76.81304088938245!3d17.985845586611947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3fb849a9ff95%3A0x1a3d47a6b23d68aa!2sChungs+Catering+Services+Ltd.!5e0!3m2!1sen!2sjm!4v1557074868140!5m2!1sen!2sjm" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class=" col-sm-3">

            <address>
                <strong>
                    Head Office<br />
                </strong>
                138c Maxfield Avenue <br />
                Kingston 10 Jamaica<br />
                <abbr title="Phone">P:</abbr>(876)926-0992 <br />
                <abbr title="Phone">P:</abbr>(876)926-8256 <br />
                <strong>Order Help:</strong> <a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungscatering@hotmail.com</a><br />
            </address>
        </div>

        <div class="col-sm-4">
            <address>
                <strong>For Quick Dining or Take Away (Breakfast & Lunch)</strong><br /> 82-82 Harbour Street, Downtown Kingston
                <br /><abbr title="Phone">P:</abbr>(876) 948-9138<br /><abbr title="Phone">P:</abbr>(876) 999-0174<br /><br />
            </address>
        </div>

        <div class="col-sm-4">
            <address>
                <strong>For Takeout ONLY (Lunch)</strong><br />138c Maxfield Avenue, Kingston 10 <br /><abbr title="Phone">P:</abbr>(876)926-0992 <br />

            </address>
        </div>

        <div class="col-sm-4">
            <address>
                <br /><strong>NEW LOCATION!</strong> Dine in or take out 23 Tangerine Place<br /><abbr title="Phone">P:</abbr>(876)906-7979 <br /><abbr title="Phone">P:</abbr>(876)832-5365 <br />
            </address>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-3">
        <address>
            <strong>For Quick Dining or Take Away (Breakfast & Lunch)</strong><br /> 82-82 Harbour Street, Downtown Kingston
            <br /><abbr title="Phone">P:</abbr>(876) 948-9138<br /><abbr title="Phone">P:</abbr>(876) 999-0174<br /><br />
        </address>
    </div>

    <div class="col-sm-3">
        <address>
            <strong>For Takeout ONLY (Lunch)</strong><br />138c Maxfield Avenue, Kingston 10 <br /><abbr title="Phone">P:</abbr>(876)926-0992 <br />

        </address>
    </div>

    <div class="col-sm-3">
        <address>
            <br /><strong>NEW LOCATION!</strong> Dine in or take out 23 Tangerine Place<br /><abbr title="Phone">P:</abbr>(876)906-7979 <br /><abbr title="Phone">P:</abbr>(876)832-5365 <br />
        </address>
    </div>
    <br />

</div>

<div class="container col-lg-3">
    <strong>Additional Department Contacts</strong><br />
    <address>
        Catering Department Head of Catering Sales<br />Antoinette Chung //<a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungs.catering@gmail.com</a>
        <br />
        Catering Sales Rep <br /> Kimberley Scott // <a href="mailto:chungscatering@hotmail.com?Subject=Order%20help"> chungscateringkimberley@gmail.com</a><br />
        Catering Sales Rep <br />Sheena Hyman //<a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungscateringsheena@gmail.com</a><br />
        Catering Sales Rep<br />Michael Dixon //<a href="mailto:chungscatering@hotmail.com?Subject=Order%20help">chungscateringmichael@gmail.com</a><br />
    </address>
</div>


