@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 class="text-center">Welcome to Chung’s Catering Services</h1>
        <br />
        <p class="lead">
            We enjoys taking away the stress from you our customers. What is really important is that We make our customers feel really safe and secure.Our customers Will never have anything to worry about once they're in Our hands.
        </p>
        <img class="img-responsive" src="~/Content/Images/Banner.gif" alt="homeupperbanner">
        <br />
        <p class="text-center">
            <button type="button" class="btn btn-default btn-lg"> @Html.ActionLink("Learn More", "About", "Home") &raquo; </button>
        </p>
        <br />
        <br />

        <div class="row container-fluid servicefont text-center">
            <div class="col-md-4 media">
                <img class="mr-3 imgs responsive mx-auto" src="~/Content/Images/dailymenu.jpg" alt="daily menu">
                <div class="media-body">
                    <p class="mt-0">Take a look at what we have to offer on today's menu at our 3  locations....</p>
                    <p class="text-center">
                        <button type="button" class="btn btn-default btn-lg"> @Html.ActionLink("Learn More", "Index", "Home") &raquo; </button>
                    </p>
                </div>

            </div>
            <div class="col-md-4 media">
                <img class="mr-3 imgs responsive mx-auto hborder" src="~/Content/Images/fined.png" alt="Services">
                <div class="media-body">
                    <p class="mt-0"> The company with the finest food and greatest service, providing....</p>
                    <br />
                    <p class="text-center">
                        <button type="button" class="btn btn-default btn-lg"> @Html.ActionLink("Learn More", "Services", "Home") &raquo; </button>
                    </p>
                </div>
            </div>

            <div class="col-md-4 media">
                <img class="mr-3 imgs responsive mx-auto" src="~/Content/Images/gallery.png" alt="Gallery">
                <div class="media-body">
                    <p>We offer a wide variety of foods  and services to cater for your  every need...</p>
                    <p class="text-center">
                        <button type="button" class="btn btn-default btn-lg"> @Html.ActionLink("Learn More", "Gallery", "Home") &raquo; </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
