
@{
    ViewBag.Title = "Services";

}

<div id="main" class="fixclear">
    <div id="services" class="whitetext">
        <img id="service_cocktail" src="~/Content/Images/cocktails2.png">
        <hr />
        <p class="servicehead marg tcenter">-</p>
        <p class="servicefont">
            Chungs Catering Services Limited, is the company with the finest food and greatest service, providing customized caterings. Our menu consists of Chinese, Local and International dishes. We cover corporate entities large, medium or small,
            private individuals, schools, church related events within Kingston, St. Mary, St. Ann and Portland. Specializing in industrial and volume catering services. Dedicated to excellence in food quality, preparation and presentation.
        </p>
        <p class="servicehead marg tcenter">-</p>
        <p class="servicefont">
            <img id="servfood3" src="~/Content/Images/food.jpg" class="">
            <img id="servfood2" src="~/Content/Images/wedding.jpeg" class="servimg">
            <img id="servfood" src="~/Content/Images/prawn.jpeg" class="servimg">
        </p>
        <p class="servicefont"> <br> <i>Catering available 7 days a week. However request must be placed Mondays - Fridays.</i> <br> <br /></p>
    </div>
</div>

