body {
    padding-top: 50px;
    padding-bottom: 20px;
	font-family:'Times New Roman', Times, serif;
	font-size:medium;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Times New Roman', Times, serif;
	font-size: small;
}

.navbarcr{
	background-color:firebrick;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.imgs {
	/*This serves to change the size of the image in the middle */
	width: 200px;
	height: 160px;
}

.imsz {
	/*This serves to change the size of the image in the footer*/
	width: 30px;
	height: 30px;
}

body {
	background-image: url(Images/restaurantwp1.jpg);
}

.Chungslogo {
	background: url(Images/hlogo.gif) repeat center  ;
	display: block;
	width: auto;
	height: 100px;
	text-align: center;

}


.chungslogo2 {
	background: url(Images/bannerlogo.png) no-repeat;
	display: block;
	width: 133px;
	height: 60px;
	text-align: center;
	float: left;
	display: inline-block;
	text-align: center;
	position: relative;
	
}
	
}
.aboutimgs {
	display: block;
	width: 1140px;
	height: 317px;
}

.servicefont {
	font-size: 20px;
	border-color: beige;
	background-color: floralwhite;
	border: solid;
	border: 2px;
	color: black;
	margin: 0 auto;
	text-align: center;
	overflow: auto;
}

.servicehead {
	font-size: 35px;
	border-color: beige;
	background-color: floralwhite;
	border: solid;
	border: 2px;
	color: black;
	margin: 0 auto;
	text-align: center;
	overflow: auto;
}

#service_cocktail {
	height: 50%;
	width: 100%;
	align-content: center
}

#servfood3 {
	height: 30%;
	width: 30%;
}

.servimg {
	/*This serves to change the size of the image in the footer*/
	width: 33%;
	height: 60%;
}


.aboutfont {
	font-size: 20px;
	border-color: beige;
	background-color: floralwhite;
	border: solid;
	border: 2px;
	color: black;
	margin: 0 auto;
	text-align: center;
	overflow: auto;
}
.mapch{
padding:10px;

}

/*------------------gallery CSS starts------------------- */

.dg-container {
	width: 100%;
	height: 450px;
	position: relative;
}

.dg-wrapper {
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

	.dg-wrapper a {
		width: 482px;
		height: 316px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background: white, no-repeat top left;
		border-block-end: white 2px;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
	}

		.dg-wrapper a.dg-transition {
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}

		.dg-wrapper a img {
			display: block;
			padding: 41px 0px 0px 1px;
		}

		.dg-wrapper a div {
			font-style: italic;
			text-align: center;
			line-height: 50px;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
			color: #333;
			font-size: 16px;
			width: 100%;
			bottom: -55px;
			display: none;
			position: absolute;
		}

		.dg-wrapper a.dg-center div {
			display: block;
		}

.dg-container nav {
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}

	.dg-container nav span {
		text-indent: -9000px;
		float: left;
		cursor: pointer;
		width: 24px;
		height: 25px;
		opacity: 0.8;
		background: transparent url(../images/arrows.png) no-repeat top left;
	}

		.dg-container nav span:hover {
			opacity: 1;
		}

		.dg-container nav span.dg-next {
			background-position: top right;
			margin-left: 10px;
		}


/*------------------first gallery ends-------------------------- */


/*------------------second gallery begins-------------------------- */

body {
	position: relative;
}

.gallery {
	width: 90%;
	height: 100%;
	margin: auto;
	border-radius: 3px;
	overflow: hidden;
	/* //position: relative; */
}

.img-c {
	width: 250px;
	height: 250px;
	float: left;
	position: relative;
	overflow: hidden;
	border-block-end: solid 10px;
}

.img-w {
	position: absolute;
	margin: 50px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	transition: transform ease-in-out 300ms;
}

	.img-w img {
		display: none;
	}

.img-c {
	transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

	.img-c:hover .img-w {
		transform: scale(1.08);
		transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
	}

	.img-c.active {
		width: 100% !important;
		height: 100% !important;
		position: absolute;
		z-index: 2;
		/* //transform: translateX(-50%); */
	}

	.img-c.postactive {
		position: absolute;
		z-index: 2;
		pointer-events: none;
	}

	.img-c.active.positioned {
		left: 0 !important;
		top: 0 !important;
		transition-delay: 50ms;
	}


/*------------------second gallery ends-------------------------- */
